@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}