@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

:root {
  --svh: calc(100vh - var(--safe-area-inset-bottom) - var(--safe-area-inset-top));
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}

.home-bg-black-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0.3) 98%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 100%;
  width: 100%;
}