<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<!-- Login Form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h2 class="text-center mt-5">Login Page</h2>
				<form class="mt-4" method="POST">
					{% csrf_token %}
					<!-- Email Field -->
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" id="username" name="username"
							placeholder="Enter username">
					</div>

					<!-- Password Field -->
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password"
							placeholder="Password">
					</div>
					<!-- Buttons -->
					<div class="text-center">
						<a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
						<button type="submit" class="btn btn-success">Login</button>
					</div>
				</form>
				<h2 class="text-center mt-5">Or</h2><br>
				<form class="text-center" action="{% url 'auth' %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-secondary">Auth with 42</button>
				</form>
				<!-- Display error messages if they exist -->
				{% if error_message %}
				<div class="alert alert-danger mt-3" role="alert">
					{{ error_message }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Bootstrap JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>