<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>

<body class="bg-gray-100">

    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-semibold mb-6">Test Page</h2>

        <p>
            {% if user %}
                User created or already exists. User: {{ user.username }}
            {% else %}
                An error occurred while creating the user.
            {% endif %}
        </p>
    </div>

</body>

</html>
