<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<title>User List</title>
</head>

<body class="bg-gray-100">

	<div class="container mx-auto mt-8">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{% for user in users %}
			<div class="bg-white p-6 rounded-md shadow-md mb-4">
				<h2 class="text-xl font-semibold mb-4">{{ user.username }}</h2>
				<img src="{{ user.profile_picture.url }}" alt="User profile picture">
				<p class="text-gray-600">{{ user.email }}</p>
				<p>Total Matches: {{ user.total_matches }}</p>
				<p>Wins: {{ user.wins }}</p>
				<p>Losses: {{ user.losses }}</p>
				<p>Title: {{ user.title }}</p>
			</div>
			{% endfor %}
		</div>
	</div>


</body>

</html>